# Hugo
/public/
/resources/_gen/
/assets/jsconfig.json
hugo_stats.json

# OS / editor
.DS_Store
Thumbs.db
*.swp
.idea/
.vscode/

# Local environment
/.hugo_build.lock

# Local binaries
/hugo.exe

# local server logs
hugo-server*.log
